/*set border to the form*/

#form1 {
    border: auto #f1f1f1;
}
# column h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight:600;
    margin-bottom: 30px;
  }

/*set a style for the buttons*/

button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    align-items: center;
}


/* set a hover effect for the button*/

button:hover {
    opacity: 0.8;
}
#login_form
{
    display: none;
}
#login
{
    left: 50px;
}
#login input
{
    color: orange;
    font-size: 15px;
}
#register
{
    left: 450px;
}
#register input
{
    color: white;
    font-size: 15px;
}


/*set extra style for the cancel button*/


/*centre the display image inside the container*/


/*set the forgot password text*/


/*set styles for span and cancel button on small screens*/

@media screen and (max-width: 300px) {
   
    .cancelbtn {
        width: 100%;
    }
}